<div>
  <div id="select">
    <ul>
      <li>
        <div>
          <a href="" id="image">
            <img class="image" src="assets/images/demet.png" />
          </a>
        </div>
        <div id="name">Demet Atak</div>
      </li>
      <li>
        <div>
          <a href="" id="image">
            <img class="image" src="assets/images/demet.png" />
          </a>
        </div>
        <div id="name">Demet Atak</div>
      </li>
      <li>
        <div>
          <a href="" id="image">
            <img class="image" src="assets/images/demet.png" />
          </a>
        </div>
        <div id="name">Demet Atak</div>
      </li>
      <li>
        <div>
          <a href="" id="image">
            <img class="image" src="assets/images/demet.png" />
          </a>
        </div>
        <div id="name">Demet Atak</div>
      </li>
      <li>
        <div>
          <a href="" id="image">
            <img class="image" src="assets/images/demet.png" />
          </a>
        </div>
        <div id="name">Demet Atak</div>
      </li>
      <li>
        <div>
          <a href="" id="image">
            <img class="image" src="assets/images/demet.png" />
          </a>
        </div>
        <div id="name">Demet Atak</div>
      </li>
    </ul>
  </div>
</div>
