*{
    box-sizing: border-box;
}
body{
 margin: 0;
 padding: 0;
}
#select{
   
    border: 1px solid rgb(194, 188, 188);
}
ul li {
    display: inline-block;
    margin: 15px;
}
ul li a {
    width: 50px;
    height: 50px; 
}
ul li a img{
    font-size: 15px;
    border: 1px solid black;
    width: 50px;
    height: 50px; 
    border-radius:30px;
    
}