*{
    box-sizing: border-box;
}
body{
 margin: 0;
 padding: 0;
}

.navbar{
    
    margin-left:195px ;
    margin-right:200px ;
    padding-right: 10px;
    padding-left: 10px;
    padding-right: 10px;
    padding-bottom: 20px;
    width: 70%;
    height: 60px;
    
}
#align{
   
     
     width: 100%;
     height: 60px;
     padding-left: 300px;
     padding-right: 300px;
     border-bottom: 1px solid rgb(197, 196, 196);
     
    
}

#alignOne{
    /*border: 1px solid black;*/
    width: 40%;
    height: auto;
    margin: auto;
    
}

#alignOne a{
    text-decoration: none;
    
}
#alignOne a h1{
    color: black;
    font-size: 25px;
    
    
}
#alignTwo{
    
    float: left;
    width: 20%;
    height: 100%;
    padding-bottom: 50px;
    
}
#alignTwo form{

    width: 70%;
    margin-top: 5px;
}
#alignTwo form input{
    
    box-shadow: 1px 1px 1px 1px rgb(207, 206, 206);
    margin-top: 5px;
    height: 25px;
    text-align: center;
    font-size: 15px;
    
}
#alignThree{
    
    float: right;
    width: 40%;
    height: 150%;
    padding-left: 100px;
    
    
}
#alignThree a{
    text-decoration: none;
    padding-left: 25px;
 
}
#alignThree  a svg{
    width: 25px;
    height: 25px;
    color: black;
}

#alignThree  a img{
    border: 1px solid black;
    width: 25px;
    height: 25px; 
    border-radius:12px;
    
}


