<div>
    <div id="select">
      <ul>
        <li>
          <div>
            <a href="" id="image">
              <img class="image" src="assets/images/demet.png" />
            </a>
          </div>
        </li>
        <li>
          <div id="userOne" >
            
                <a href="" id="usrOne">
             Demet Atak
                </a>
            
          </div>
          <div id="userTwo" >

            <a href="" id="usrTwo">
                Selcan
                   </a>
          </div>
        </li>
        <li>
          <div id="switch">
            <a href="" >
            switch
            </a>
          </div>
        </li>
       
       
      </ul>
    </div>
  </div>
  