<div>
  <div>
    <ul>
      <li id="slct">Senin için Önerilenler</li>
      <li>
        <a href="" id="slct2">Tümünü gör</a>
      </li>
    </ul>
  </div>
  <div id="select">
    <ul>
      <li>
        <div>
          <a href="" id="image">
            <img class="image" src="assets/images/demet.png" />
          </a>
        </div>
      </li>
      <li>
        <div id="userOne">
          <a href="" id="usrOne"> Mert Erol </a>
        </div>
        <div id="userTwo">
          <a href="" id="usrTwo"> erolmert </a>
        </div>
      </li>
      <li>
        <div id="switch">
          <a href=""> follow </a>
        </div>
      </li>
    </ul>
    <ul>
      <li>
        <div>
          <a href="" id="image">
            <img class="image" src="assets/images/ferhat.jpg" />
          </a>
        </div>
      </li>
      <li>
        <div id="userOne">
          <a href="" id="usrOne"> Ayse Bayrak </a>
        </div>
        <div id="userTwo">
          <a href="" id="usrTwo"> aysebayrak </a>
        </div>
      </li>
      <li>
        <div id="switch">
          <a href=""> follow </a>
        </div>
      </li>
    </ul>
    <ul>
      <li>
        <div>
          <a href="" id="image">
            <img class="image" src="assets/images/demet.png" />
          </a>
        </div>
      </li>
      <li>
        <div id="userOne">
          <a href="" id="usrOne"> Derya Atak </a>
        </div>
        <div id="userTwo">
          <a href="" id="usrTwo"> atakderya </a>
        </div>
      </li>
      <li>
        <div id="switch">
          <a href=""> follow </a>
        </div>
      </li>
    </ul>
  </div>
</div>
