
*{
    box-sizing: border-box;
}
body{
 margin: 0;
 padding: 0;
}
main{
   padding: 0px 300px;
   
}
#align{
    border: 1px solid black;
    margin: auto;
    height: 5000px;
    width: 70%;
}
#selectOne{
    border: 1px solid black;
    width: 60%;
   float: left;
}
#selectTwo{
    width: auto;
    margin: auto;
    padding: 25px 200px;
    float: left;
}
#selectThree{

    border: 1px solid black;
    width: 40%;
    float: left;
    
}

