

#align{

    margin: auto;
    margin-top: 30px;
    margin-left: 25% ;
    height: 5000px;
    width: 70%;
}
#selectOne{

    margin-bottom: 20px;
    width: 45%;
   float: left;
}
#selectTwo{

    width: 100%;
    margin-top: 30px;

    float: left;
}
#selectThree{

    width: 30%;
    float: left;
    
    
}

