<app-navbar></app-navbar>
<div>
  <main id="main">
    <div id="align">
      <section id="selectOne">
        <div>
          <app-state></app-state>
        </div>
       
        <div id="selectTwo">
          <app-card></app-card>
          <app-card></app-card>
          <app-card></app-card>
        </div>
      </section>

      <div id="selectThree">
        dsvfz
      </div>
      <div id="selectThree">
        dsvfz
      </div>
      <div id="selectThree">
        dsvfz
      </div>
    </div>

    

  </main>
</div>